<div class="main-content-container">
	<div class="jumbotron">
		<div class="row marketing">
			<form class="col-md-12 col-sm-12">
				<div class="form-group submit-form col-md-9 col-sm-12">
					<label for="formControlFile">Please select the file to be analized</label>
					<input type="file" file-model="myFile" class="form-control-file" id="formControlFile">
				</div>
				<a class="btn btn-lg submit-button btn-success col-md-3 col-sm-12 pull-right" ng-click="uploadFile()">Analize</a>
			</form>
		</div>
	</div>
</div>